@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Clan Leader</strong>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="~/Home/Email/Mob">Mob</a><br />
    <strong>Foreign Affairs</strong>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="~/Home/Email/MadNudist">MadNudist</a><br />
    <strong>Foreign Affairs</strong>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="#">Candiate 2</a><br />
    <strong>Foreign Affairs</strong>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="#">Candiate 3</a><br />
    <strong>War Leader</strong>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="#">Candiate</a><br />
</address>