@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="background-color:transparent;color:orange;">
    <div class="LoC-logo-div"><img class="LoC-logo" src="~/Images/Logo/tloc.jpg" /></div>
</div>

<div class="row" style="color:orange;">
    <div class="col-md-6">
        <h2>About Lords of Chaos</h2>
        <p>
            Want to be a Lord of your Chaos? We are the Lords of Chaos, a tight knit clan of misfits fighting for
            survival and supremacy in <a href="http://www.earthempires.com/">Earth Empires</a>. We fight to the
            end to protect our people and territory. Loyalty, Unity, and Activity are part of our core values.
            Learn to become a Lord of Chaos today, <a href="~/Account/Apply">Apply</a>.
        </p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Web Hosting</h2>
        <p>Coming soon from Mad's Earth Hosting.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>